<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span translate>Home</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <img  src="http://0ff5a612.ngrok.io/video_feed"  width="100%" alt="angular logo"/>
    <ion-card-content>
      <ion-card-title>
        <span translate>Hello world !</span>
      </ion-card-title>
      <p>
        <app-loader [isLoading]="isLoading"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
