.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.video-content {
  // margin-top: 60px;

  img {
    margin: auto;
    width: 100%;
  }
}
.video-below {
  margin-top: 350px;
  background-color: #2769dd;

  .scroll-content {
    margin-top: 10px !important;
  }
}
.message-item {
  border-bottom: none !important;
  padding-left: 0px;
  padding-right: 0px;
}
.page-chat {
  $userBackgroundColor: #387ef5;
  $toUserBackgroundColor: #fff;
  padding-bottom: 100px;
  min-height: 100vh;
  ion-content .scroll-content {
    background-color: #c8c7cc;
  }

  ion-footer {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.11);
    background-color: #fff;
    height: 255px;
  }

  .line-breaker {
    white-space: pre-line;
  }

  .input-wrap {
    padding: 5px;
    display: flex;
    textarea {
      flex: 1;
      border: 1px #434343;
      border-style: solid;
      background-color: #f4f4f4;
      font-size: 16px;
      line-height: 16px;
      border-radius: 10px;
      z-index: 1;
    }
  }

  .message-wrap {
    padding: 0 10px;
    .message {
      position: relative;
      padding: 7px 0;
      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
          color: #fff;
        }
        .msg-info {
          p {
            font-size: 0.8em;
            color: #434343;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          border-radius: 5px;
          padding: 8px;
          border: 1px solid #ddd;
          color: #fff;
          width: auto;
          max-width: 80%;
          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }

    .message.left {
      .msg-content {
        background-color: $toUserBackgroundColor;
        border: 0px solid transparent !important;
        float: left;
      }
      .msg-detail {
        padding-left: 60px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: #343434;
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }
    }

    .message.right {
      .msg-detail {
        padding-right: 60px;
        .msg-info {
          text-align: right;
        }
      }
      .user-img {
        right: 0;
      }
      ion-spinner {
        position: absolute;
        right: 10px;
        top: 50px;
      }
      .msg-content {
        background-color: $userBackgroundColor;
        float: right;
        span.triangle {
          background-color: $userBackgroundColor;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }
    }
  }
}
